{% extends 'polls/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <main>
        <article>
            <strong>"ГрузоЛогистика"</strong> - это ведущая компания в области грузоперевозок,
            предоставляющая высококачественные и надежные услуги в сфере транспортировки грузов.
            Наша компания специализируется на организации грузоперевозок как национального, так и международного масштаба.
            Мы предлагаем клиентам интегрированные логистические решения, оптимизируя процесс доставки и снижая затраты.
            Наша команда профессионалов и современный автопарк обеспечивают надежность и своевременность в доставке грузов.
            Независимо от размера и характера вашей отправки, "ГрузоЛогистика" всегда готова предложить оптимальное решение
            для ваших потребностей в грузоперевозках. Наше долгосрочное партнерство с клиентами - наш главный приоритет.
        </article>

       <iframe class="center-align" width="971" height="546" src="https://www.youtube.com/embed/PFepj-rWbFE"
                   title="Оппенгеймер — Официальный русский трейлер #2 (Дубляж, 2023)" frameborder="0"
                   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                   allowfullscreen></iframe>

        <div>
            <img class="center-align" src="{% static 'media/company_logo.png'%}" alt="img not found:(" ali>
        </div>

       <section>
       <br><h3>Наша история</h3>

           <strong>2000 год: Основание компании</strong>
           <p>Компания "ГрузоЛогистика" была основана в 2000 году как маленькая фирма,
               специализирующаяся на местных грузоперевозках. В начале своего пути компания работала с ограниченным
               числом клиентов, предоставляя высококачественные услуги доставки товаров по местным маршрутам.</p>

           <strong>2005 год:  Расширение автопарка</strong>
           <p>Через несколько лет компания успешно расширила свой автопарк и начала обслуживать более широкий спектр грузов
               и клиентов. Это позволило "ГрузоЛогистике" предоставлять услуги доставки национального уровня.</p>

           <strong>2010 год: Международные грузоперевозки</strong>
           <p>В 2010 году компания сделала важный шаг, начав предоставлять международные грузоперевозки. Это открыло новые возможности
               для клиентов, и "ГрузоЛогистика" стала важным игроком на мировой сцене логистики.</p>

           <strong>2015 год: Логистические решения и технологии</strong>
           <p>С развитием технологий и растущим спросом на более сложные логистические решения компания начала активно внедрять современные технологии
               для оптимизации и управления процессами грузоперевозок. Это позволило более точно планировать маршруты и снижать затраты для клиентов.</p>

           <strong>2020 год: Укрепление партнерств</strong>
           <p>В последние годы "ГрузоЛогистика" укрепила свои партнерские отношения как с клиентами, так и с поставщиками. Компания
               стремится к долгосрочным отношениям и партнерству с организациями, которые разделяют
               ее ценности и стремление к качеству в области грузоперевозок.</p>

           <strong>2023 год: Будущее</strong>
           <p>В настоящее время "ГрузоЛогистика" продолжает развиваться и
               расширяться. Она остается лидером в области грузоперевозок, предлагая широкий спектр
               услуг и инновационные решения для удовлетворения потребностей клиентов. В будущем компания
               намерена продолжать расти и развиваться, а также оставаться в числе ведущих компаний в мире логистики и грузоперевозок.</p>

       </section>
    </main>

{% endblock %}