{% extends 'polls/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <main class="employee-main">
        {% for i in employees %}
        <div class="rounded-border employee-container">
            <img src="{{ i.photo.url }}" alt="not found" class="employee-photo">
            <section class="employee-info">
                <h4>{{i.name}} {{i.surname}}</h4>
                <p><strong>Должность: </strong>{{i.position}}</p>
                <p><strong>Номер телефона: </strong>{{i.phone_number}}</p>
                <p><strong>Эл. почта: </strong>{{i.email}}</p>
            </section>
        </div>
        {% endfor %}

    </main>
{% endblock %}