{% extends 'polls/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <h4>Список услуг:</h4>
    {% for i in services %}
        <div class="alert alert-warning mt-2">
            <h5>{{ i.title}}</h5>
            <p>{{ i.description }}</p>
        </div>
    {% endfor %}

    <h4>Автомобили:</h4>
    {% for i in vehicles %}
        <div class="alert alert-warning mt-2">
            <h5>{{ i.brand}} {{ i.model}}, {{ i.year }}</h5>
        </div>
    {% endfor %}

{% endblock %}